{
  "openapi": "3.0.3",
  "info": {
    "version": "4.0.0",
    "title": "API Reference",
    "description": "Orbital Gateway API",
    "contact": {
      "name": "Orbital Gateway Support",
      "url": "https://developer.jpmorgan.com/?support"
    }
  },
  "servers": [
    {
      "url": "https://orbitalvar1.chasepaymentech.com/gwapi/v4/gateway",
      "description": "Sandbox/VAR Environment",
      "variables": {
        "basePath": {
          "default": "gwapi/v4/gateway"
        }
      }
    }
  ],
  "paths": {
    "/payments": {
      "parameters": null,
      "post": {
        "summary": "Create a Payment",
        "description": "Used to perform a new authorization, authorization and capture, or force capture transaction",
        "operationId": "payments",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Create Payment Authorization only, Authorization-and-Capture, and Force Capture",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/paymentsRequest"
              },
              "examples": {
                "Make a simple card payment - Authorization Only": {
                  "summary": "Make a simple card payment - Authorization Only",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    }
                  }
                },
                "Make a simple card payment - Authorization and Capture": {
                  "summary": "Make a simple card payment - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    }
                  }
                },
                "Make a simple card payment - Authorization with create profile": {
                  "summary": "Make a simple card payment - Authorization with create profile",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "profile": {
                      "customerRefNum": "testprofile01",
                      "addProfileFromOrder": "S",
                      "profileOrderOverideInd": "NO"
                    }
                  }
                },
                "Make a simple card payment - Authorization + Capture with create profile": {
                  "summary": "Make a simple card payment - Authorization + Capture with create profile",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "profile": {
                      "customerRefNum": "testprofile02",
                      "addProfileFromOrder": "S",
                      "profileOrderOverideInd": "NO"
                    }
                  }
                },
                "Make a simple card payment - Authorization using profile": {
                  "summary": "Make a simple card payment - Authorization using profile",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "useProfile": {
                        "useCustomerRefNum": "testprofile01"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "500",
                      "industryType": "EC"
                    }
                  }
                },
                "Make a simple card payment with AVS - Authorization and Capture": {
                  "summary": "Make a simple card payment with AVS - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main St",
                      "avsAddress2": "Apt 2",
                      "avsCity": "Tampa",
                      "avsState": "FL",
                      "avsZip": "12345"
                    }
                  }
                },
                "Make a simple card payment with Soft Descriptor and Safetech Token- Authorization": {
                  "summary": "Make a simple card payment with Soft Descriptor and Safetech Token",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "CZ",
                        "ccAccountNum": "444444HZYFLT4448",
                        "ccExp": "202506",
                        "tokenTxnType": "UT"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "softDesc": {
                      "softDescMercName": "MERCHANT",
                      "softDescProdDesc": "PENDING",
                      "softDescMercCity": null,
                      "softDescMercPhone": null,
                      "softDescMercURL": null,
                      "softDescMercEmail": null
                    }
                  }
                },
                "Make a simple card payment with Soft Merchant Descriptors": {
                  "summary": "Make a simple card payment for Soft Merchant Descriptors",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "softMerchantDescriptors": {
                      "smdDBA": "TestName",
                      "smdMerchantID": "750000000040",
                      "smdContactInfo": "TestContact",
                      "smdStreet": "Test Street",
                      "smdCity": "Tampa",
                      "smdRegion": "FL",
                      "smdPostalCode": "33637",
                      "smdCountryCode": "USA",
                      "smdMCC": "5444",
                      "smdEmail": "test@gmail.com",
                      "smdPhoneNumber": "8138138130",
                      "smdServiceEstablishmentNum": "123456",
                      "smdTaxExemptCharityInd": "N"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    }
                  }
                },
                "Make a simple payment with Alternative Payment Method - PayPal": {
                  "summary": "Make a simple payment with Alternative Payment Method - PayPal",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "alternativePaymentMethod": {
                      "paymentMethod": "PG",
                      "customerCurrencyCode": "USD",
                      "customerCountryCode": "US",
                      "customerPreferredLanguage": "en",
                      "shopperFirstName": "John",
                      "shopperLastName": "Smith",
                      "shopperEmail": "johnsmith@gmail.com",
                      "merchantRedirectURL": "https://www.test.com/test123",
                      "customerLocale": "en-US",
                      "dynamicDescriptor": "This is test",
                      "shipping": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "address1": "123 Main St",
                        "address2": "Apt #123",
                        "postalCode": "36477",
                        "countryCode": "US",
                        "state": "FL",
                        "city": "Tampa",
                        "isShippingRequired": "yes"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    }
                  }
                },
                "Make a simple payment with Alternative Payment Method - Afterpay": {
                  "summary": "Make a simple payment with Alternative Payment Method - Afterpay",
                  "value": {
                    "version": "4.6",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "alternativePaymentMethod": {
                      "paymentMethod": "AY",
                      "customerCurrencyCode": "USD",
                      "customerCountryCode": "US",
                      "customerPreferredLanguage": "en",
                      "shopperFirstName": "John",
                      "shopperLastName": "Smith",
                      "shopperEmail": "johnsmith@gmail.com",
                      "merchantRedirectURL": "https://www.test.com/test123",
                      "orderItems": "[{\"name\":\"Blue Carabiner\",\"quantity\":1,\"price\":\"40.00\",\"currency\":\"USD\"},{\"name\":\"Jeans\",\"quantity\":1,\"price\":\"20.00\",\"currency\":\"USD\"}]",
                      "shipping": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "address1": "123 Main St",
                        "address2": "Apt #123",
                        "postalCode": "36477",
                        "countryCode": "US",
                        "state": "FL",
                        "city": "Tampa"
                      },
                      "billing": {
                        "altmopBillingFirstName": "John",
                        "altmopBillingLastName": "Smith",
                        "altmopBillingAddress1": "123 Main St",
                        "altmopBillingAddress2": "Apt #123",
                        "altmopBillingPostalCode": "36477",
                        "altmopBillingCity": "Tampa",
                        "altmopBillingState": "FL",
                        "altmopBillingCountryCode": "US"
                      },
                      "order": {
                        "orderID": "123456",
                        "amount": "100",
                        "industryType": "EC"
                      }
                    }
                  }
                },
                "Cardholder-initiated - Authorization and Capture": {
                  "summary": "Cardholder-initiated - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "CGEN",
                      "mitStoredCredentialInd": "Y"
                    }
                  }
                },
                "Cardholder-initiated - Authorization Save MIT/CIT TXID in profile": {
                  "summary": "Cardholder-initiated - Authorization Save MIT/CIT TXID in profile",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "CGEN",
                      "mitStoredCredentialInd": "Y"
                    },
                    "profile": {
                      "customerRefNum": "testprofile26",
                      "addProfileFromOrder": "S",
                      "profileOrderOverideInd": "NO"
                    }
                  }
                },
                "Card Present - Authorization and Capture": {
                  "summary": "Make a simple card present payment - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000002",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "1234501",
                      "amount": "100",
                      "industryType": "RE"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "cardPresent": {
                      "emvInfo": {
                        "posEntryMode": "911",
                        "dataEntrySource": "41",
                        "panSequenceNumber": "02",
                        "applicationId": "A0000000112",
                        "applicationLabel": "VISA CREDIT",
                        "chipCardData": "2269F02060000000148009F2608301BE906CA823F4E820258009F360200039F34030000009F2701809C01009F1E0830303030303030319F100A0105A0000300000000009F3303E0F0E09F1A0208409A031209139F350100950500000000005F2A0208409F3704123456789F0605A00000152",
                        "terminalEntry": "06",
                        "tvr": "0000008000",
                        "tsi": "0080"
                      },
                      "cpNonEncrypted": {
                        "magStripeTrack1": null,
                        "magStripeTrack2": "NDA1NTAxMTExMTExMTExMT0xNTEyMTAxNTQzMjExMjM0NTY3OA=="
                      },
                      "cpDebit": {
                        "pin": null,
                        "pinKeySerialNumber": null
                      }
                    }
                  }
                },
                "Merchant-initiated - Authorization and Capture": {
                  "summary": "Merchant-initiated  - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "MRAU",
                      "mitStoredCredentialInd": "Y",
                      "mitSubmittedTransactionID": "010241692161883"
                    }
                  }
                },
                "Merchant-initiated - Recurring Authorization and Capture": {
                  "summary": "Merchant-initiated  - Authorization and Capture",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "RC"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "MREC",
                      "mitStoredCredentialInd": "Y",
                      "mitSubmittedTransactionID": "011131692166180"
                    }
                  }
                },
                "Incremental Authorization - Initial": {
                  "summary": "Incremental authorization - Initial",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "CEST"
                    }
                  }
                },
                "Incremental Authorization - Subsequent": {
                  "summary": "Incremental authorization - Subsequent",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "txRefNum": "5F49D0629BD1FF8452EF221BC63B63BF7BA054D9"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "MINC"
                    }
                  }
                },
                "Incremental Authorization with soft descriptor - Initial": {
                  "summary": "Incremental Authorization with soft descriptor - Initial",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "444444HZYFLT4448",
                        "ccExp": "202506",
                        "tokenTxnType": "UT"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "softDesc": {
                      "softDescMercName": "MERCHANT",
                      "softDescProdDesc": "PENDING",
                      "softDescMercCity": null,
                      "softDescMercPhone": null,
                      "softDescMercURL": null,
                      "softDescMercEmail": null
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "CEST"
                    }
                  }
                },
                "Incremental Authorization with soft descriptor - Subsequent": {
                  "summary": "Incremental Authorization with soft descriptor - Subsequent",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "444444HZYFLT4448",
                        "ccExp": "202506",
                        "tokenTxnType": "UT"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "txRefNum": "6018CEA0CAA3F85B1BDC18470FEF42D7D35E5397"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "softDesc": {
                      "softDescMercName": "MERCHANT",
                      "softDescProdDesc": "PENDING",
                      "softDescMercCity": null,
                      "softDescMercPhone": null,
                      "softDescMercURL": null,
                      "softDescMercEmail": null
                    },
                    "merchantInitiatedTransaction": {
                      "mitMsgType": "MINC"
                    }
                  }
                },
                "Verify By Visa": {
                  "summary": "Verify By Visa",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cryptogram": {
                      "digitalTokenCryptogram": "Aa3mrjQABcaBw6GJBBi1MAACAAA="
                    },
                    "additionalAuthInfo": {
                      "authenticationECIInd": "5"
                    }
                  }
                },
                "Mastercard Secure Code - MCSC": {
                  "summary": "Mastercard Secure Code - MCSC",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cryptogram": {
                      "digitalTokenCryptogram": "hsjuQljfl86bAAAAAACm9zU6aqY="
                    },
                    "additionalAuthInfo": {
                      "authenticationECIInd": "5"
                    }
                  }
                },
                "3D Secure - Discover": {
                  "summary": "3D Secure - Discover",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "6011111111111117",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "222"
                    },
                    "cryptogram": {
                      "digitalTokenCryptogram": "AAEBCSciUQAAARUJIyJRHwXtywA="
                    },
                    "additionalAuthInfo": {
                      "authenticationECIInd": "7",
                      "pymtBrandProgramCode": "DPB"
                    }
                  }
                },
                "3D Secure - American Express SafeKey": {
                  "summary": "3D Secure - American Express SafeKey",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "378282246310005",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "cryptogram": {
                      "digitalTokenCryptogram": "AAAAAAAAt5fMJPDr320qAAALwwA=hq0BA9EAAAGXIJcAGAAAABKU0+s="
                    },
                    "additionalAuthInfo": {
                      "authenticationECIInd": "7",
                      "pymtBrandProgramCode": "ASK"
                    }
                  }
                },
                "Consumer Digital Payment Token - CDPT/DPAN": {
                  "summary": "Consumer Digital Payment Token",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4055011111111111",
                        "ccExp": "202506",
                        "dpanInd": "Y"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "cryptogram": {
                      "digitalTokenCryptogram": "AAABCCMRERI0VniQEhERAAAAAAA="
                    },
                    "additionalAuthInfo": {
                      "authenticationECIInd": "5"
                    }
                  }
                },
                "Safetech Page Encryption - get token in transaction using $0": {
                  "summary": "Safetech Page Encryption - get token in transaction using $0",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "0",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "413"
                    },
                    "pageEncryption": {
                      "pieSubscriberID": "123456789123",
                      "pieFormatID": "64",
                      "pieIntegrityCheck": "74c43eba8e60c47a",
                      "pieKeyID": "3224dfa5",
                      "piePhaseID": "0",
                      "pieMode": "FPE"
                    }
                  }
                },
                "Safetech Page Encryption - get token in transaction using $0 with AVS": {
                  "summary": "Safetech Page Encryption - get token in transaction using $0 with AVS",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "0",
                      "industryType": "EC"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main Street",
                      "avsCity": "Tampa",
                      "avsState": "FL",
                      "avsCountryCode": "US",
                      "avsZip": "12345",
                      "avsName": "John Smith",
                      "avsPhone": "8888888888"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "413"
                    },
                    "pageEncryption": {
                      "pieSubscriberID": "123456789123",
                      "pieFormatID": "64",
                      "pieIntegrityCheck": "74c43eba8e60c47a",
                      "pieKeyID": "3224dfa5",
                      "piePhaseID": "0",
                      "pieMode": "FPE"
                    }
                  }
                },
                "Safetech Page Encryption - get token in transaction": {
                  "summary": "Safetech Page Encryption - get token in transaction",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4055011111111111",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "413"
                    },
                    "pageEncryption": {
                      "pieSubscriberID": "123456789123",
                      "pieFormatID": "64",
                      "pieIntegrityCheck": "2ac3e9a6e282e087",
                      "pieKeyID": "8f9bd30a",
                      "piePhaseID": "0",
                      "pieMode": "FPE"
                    }
                  }
                },
                "Safetech Page Encryption - $0 auth and create profile with token": {
                  "summary": "Safetech Page Encryption - $0 auth and create profile with token",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "0",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "pageEncryption": {
                      "pieSubscriberID": "123456789123",
                      "pieFormatID": "64",
                      "pieIntegrityCheck": "15dc9d9fbcd5cc5a",
                      "pieKeyID": "42f87c95",
                      "piePhaseID": "1",
                      "pieMode": "FPE"
                    },
                    "profile": {
                      "customerRefNum": "testprofile30",
                      "addProfileFromOrder": "S",
                      "profileOrderOverideInd": "NO"
                    }
                  }
                },
                "Safetech Tokenization - get token in transaction": {
                  "summary": "Safetech Tokenization - get token in transaction",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4055011111111111",
                        "ccExp": "202506",
                        "tokenTxnType": "GT"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    }
                  }
                },
                "Safetech Tokenization - use token in transaction": {
                  "summary": "Safetech Tokenization - use token in transaction",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "444444HZYFLT4448",
                        "ccExp": "202206",
                        "tokenTxnType": "UT"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    }
                  }
                },
                "Level 2 data": {
                  "summary": "An example of level 2 data",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202206"
                      }
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "222"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main St",
                      "avsAddress2": "Apt 1",
                      "avsCity": "Tampa",
                      "avsState": "FL",
                      "avsCountryCode": "US",
                      "avsZip": "123456",
                      "avsName": "John Smith",
                      "avsPhone": "8888888888"
                    },
                    "level2": {
                      "taxInd": "1",
                      "taxAmount": "1200",
                      "pCardOrderID": "3432542",
                      "pCardDestZip": "123456"
                    }
                  }
                },
                "Level 3 data": {
                  "summary": "An example of level 3 data",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202206"
                      }
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "222"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main St",
                      "avsAddress2": "Apt 1",
                      "avsCity": "Tampa",
                      "avsState": "FL",
                      "avsCountryCode": "US",
                      "avsZip": "123456",
                      "avsName": "John Smith",
                      "avsPhone": "8888888888"
                    },
                    "level2": {
                      "taxInd": "1",
                      "taxAmount": "1200",
                      "pCardOrderID": "3432542",
                      "pCardDestZip": "43233"
                    },
                    "level3": {
                      "pCard3DestCountryCd": "USA",
                      "pCard3ShipFromZip": "123456",
                      "pCard3LineItemCount": "2",
                      "pCard3LineItems": {
                        "item": [
                          {
                            "pCard3DtlIndex": "1",
                            "pCard3DtlDesc": "rstre565464",
                            "pCard3DtlProdCd": "3432",
                            "pCard3DtlQty": "250000",
                            "pCard3DtlUOM": "CDL",
                            "pCard3DtlTaxAmt": "1200",
                            "pCard3DtlTaxRate": "7000",
                            "pCard3Dtllinetot": "3125",
                            "pCard3DtlCommCd": "4353",
                            "pCard3DtlUnitCost": "12500",
                            "pCard3DtlGrossNet": "N",
                            "pCard3DtlTaxType": "Y",
                            "pCard3DtlDebitInd": "D"
                          },
                          {
                            "pCard3DtlIndex": "2",
                            "pCard3DtlDesc": "rstre565465",
                            "pCard3DtlProdCd": "3432",
                            "pCard3DtlQty": "210000",
                            "pCard3DtlUOM": "CDL",
                            "pCard3DtlTaxAmt": "1400",
                            "pCard3DtlTaxRate": "7000",
                            "pCard3Dtllinetot": "3125",
                            "pCard3DtlCommCd": "4353",
                            "pCard3DtlUnitCost": "12500",
                            "pCard3DtlGrossNet": "N",
                            "pCard3DtlTaxType": "Y",
                            "pCard3DtlDebitInd": "D"
                          }
                        ]
                      }
                    }
                  }
                },
                "Pinless debit e-commerce": {
                  "summary": "Pinless debit e-commerce",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments",
                      "retryTrace": null
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "DP",
                        "ccAccountNum": "2226350123456999",
                        "ccExp": "202206"
                      }
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "222"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main St",
                      "avsAddress2": "Apt 1",
                      "avsZip": "11111"
                    },
                    "debit": {
                      "pinlessDebitTxnType": "EC",
                      "pinlessDebitMerchantUrl": "www.pinlessdebitpinlessdebitpinlessdebit.com"
                    }
                  }
                },
                "Pinless debit bill-pay": {
                  "summary": "Pinless debit bill-pay",
                  "value": {
                    "version": "4.7",
                    "transType": "AC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments",
                      "retryTrace": null
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "DP",
                        "ccAccountNum": "2226350123456999",
                        "ccExp": "202506"
                      }
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "222"
                    },
                    "avsBilling": {
                      "avsAddress1": "123 Main St",
                      "avsAddress2": "Apt 1",
                      "avsZip": "11111"
                    },
                    "debit": {
                      "debitBillerReferenceNumber": "23498735",
                      "pinlessDebitTxnType": "BP"
                    }
                  }
                },
                "TAA and Cruise": {
                  "summary": "Transaction Advice Addendum and Cruise Infomation",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "cardBrand": "VI",
                        "ccAccountNum": "4111111111111111",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "310414",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    },
                    "travelTicketAndPassengerInfo": {
                      "tAATicketNumber": "123456789012345",
                      "tAAPassengerName": "12345678901234567890123456789",
                      "tAACustomerCode": "1234567890123456789012345",
                      "tAAIssueDate": "210120",
                      "tAAIssuingCarrier": "ABCD",
                      "tAAArrivalDate": "210120",
                      "tAANumberInParty": "123",
                      "tAAConjunctionTicketIndicator": "Y",
                      "tAAElectronicTicketIndicator": "N",
                      "tAARestrictedTicketIndicator": "0",
                      "tAAIATAClientCode": "12345678901234567",
                      "tAACreditReasonIndicator": "A",
                      "tAATicketChangeIndicator": "C",
                      "tAADocumentType": "01",
                      "tAATicketType": "T",
                      "tAAFormatCode": "01",
                      "tAATransactionType": "TKT",
                      "tAATicketingCarrierName": "1234567890123456789012345",
                      "tAATicketIssueCity": "123456789012345678",
                      "tAATravelPackageIndicator": "N"
                    },
                    "travelFareDetail": {
                      "tAATotalFare": "123456789012",
                      "tAATotalFees": "123456789012",
                      "tAATotalTaxes": "123456789012",
                      "tAAExchangeTicketAmount": "123456789012",
                      "tAAExchangeFeeAmount": "123456789012",
                      "tAAInvoiceNumber": "123456",
                      "tAAOriginalCurrencyCode": "840"
                    },
                    "cruiseTravelDetails": {
                      "tAADepartureDate": "210126",
                      "tAAReturnDate": "210207",
                      "tAATotalCost": "123456789012",
                      "tAACruiseDuration": "12",
                      "tAAShipName": "abcdefghijklmnopqrst",
                      "tAARegionCode": "abc",
                      "tAACountryCode": "abc",
                      "tAACityName": "abcdefghijklmnopqrstu"
                    },
                    "passengerTransportTripLegs": {
                      "passengerTransportTripLegType": [
                        {
                          "tripLegRecordSequenceNumber": "001",
                          "conjunctionTicketNumber": "123456789012345",
                          "exchangeTicketNumber": "123456789012345",
                          "couponNumber": "1",
                          "serviceClass": "ab",
                          "carrierCode": "ab",
                          "stopOverCode": "O",
                          "cityOfOriginAirportCode": "abcde",
                          "cityOfDestinationAirportCode": "abcde",
                          "flightNumber": "12345",
                          "departureDate": "210315",
                          "departureTime": "1200",
                          "arrivalTime": "1400",
                          "fareBasisCode": "123456789012345",
                          "tripLegFare": "123456789012",
                          "tripLegTaxes": "123456789012",
                          "tripLegFee": "123456789012",
                          "endorsementsRestrictions": "abcdefghijklmnopqrst"
                        },
                        {
                          "tripLegRecordSequenceNumber": "002",
                          "conjunctionTicketNumber": "123456789012345",
                          "exchangeTicketNumber": "123456789012345",
                          "couponNumber": "1",
                          "serviceClass": "ab",
                          "carrierCode": "ab",
                          "stopOverCode": "O",
                          "cityOfOriginAirportCode": "abcde",
                          "cityOfDestinationAirportCode": "abcde",
                          "flightNumber": "12345",
                          "departureDate": "210315",
                          "departureTime": "1200",
                          "arrivalTime": "1400",
                          "fareBasisCode": "123456789012345",
                          "tripLegFare": "123456789012",
                          "tripLegTaxes": "123456789012",
                          "tripLegFee": "123456789012",
                          "endorsementsRestrictions": "abcdefghijklmnopqrst"
                        }
                      ]
                    }
                  }
                },
                "Force Capture": {
                  "summary": "An example of a prior/force/voice transaction",
                  "value": {
                    "version": "4.7",
                    "transType": "FC",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments",
                      "priorAuthCd": "654321"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202206"
                      }
                    }
                  }
                },
                "Make a simple card payment - tokenAssuranceMethod": {
                  "summary": "Make a simple card payment - tokenAssuranceMethod",
                  "value": {
                    "version": "4.7",
                    "transType": "A",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "4444444444444448",
                        "ccExp": "202206"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "tokenAssuranceMethod": "10"
                    },
                    "cardholderVerification": {
                      "ccCardVerifyNum": "123"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentsResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/payments-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/refund": {
      "parameters": null,
      "post": {
        "summary": "Create a refund",
        "description": "Used to perform a refund transaction",
        "operationId": "refund",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Refund transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refundRequest"
              },
              "examples": {
                "Refund": {
                  "summary": "An example of a refund transaction.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202506"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments"
                    }
                  }
                },
                "Refund using a previous payment reference": {
                  "summary": "An example of a refund transaction.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC",
                      "comments": "comments",
                      "txRefNum": "5F67C6E74C4D53364FA4EB642EB2CE82108D53F7"
                    }
                  }
                },
                "Refund using a previous payment reference and retryTrace for Alternative Payment Methods": {
                  "summary": "Refund using a previous payment reference and retryTrace for Alternative Payment Methods.",
                  "value": {
                    "version": "4.7",
                    "transType": "R",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "alternativePaymentMethod": {
                      "customerCurrencyCode": "GPB",
                      "paymentMethod": "PG"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "retryTrace": "123321001",
                      "txRefNum": "6213397C2B166208CAB2231B4816EAF9338753DD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refundResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/refund-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/capture": {
      "parameters": null,
      "post": {
        "summary": "Capture part or all of an authorization",
        "description": "Used to capture a pre-auth for split shipment and settlement",
        "operationId": "capture",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Capture transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/captureRequest"
              },
              "examples": {
                "Capture specific amount": {
                  "summary": "An example of a capture transaction.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "txRefNum": "5F2C93F8E1B3B9E3095D31165071400DC6975441"
                    }
                  }
                },
                "Capture full amount": {
                  "summary": "An example of a full capture transaction.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "txRefNum": "5F2C93F8E1B3B9E3095D31165071400DC6975441"
                    }
                  }
                },
                "Capture with Soft Descriptors": {
                  "summary": "Capture with Soft Descriptors.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "txRefNum": "5F2C93F8E1B3B9E3095D31165071400DC6975441",
                      "amount": "100"
                    },
                    "softDesc": {
                      "softDescMercName": "MERCHANT",
                      "softDescProdDesc": "COMPLETE",
                      "softDescMercCity": "",
                      "softDescMercPhone": "",
                      "softDescMercURL": "",
                      "softDescMercEmail": ""
                    }
                  }
                },
                "Capture with partial reversal amount": {
                  "summary": "Capture with partial reversal amount.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "txRefNum": "5F2C93F8E1B3B9E3095D31165071400DC6975441",
                      "partialReversalAmount": "200"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/captureResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/capture-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/reversal": {
      "parameters": null,
      "post": {
        "summary": "Reverse a Payment",
        "description": "Used to reverse a previous transaction, partially or in full.",
        "operationId": "reversal",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Reversal transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reversalRequest"
              },
              "examples": {
                "Reversal": {
                  "summary": "An example of a reversal transaction.",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "order": {
                      "orderID": "12345",
                      "txRefNum": "5F4E496C7X9E96352EDFDC19AAC4422E403D53DC"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reversalResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/reversal-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/settle": {
      "parameters": null,
      "post": {
        "summary": "Settle the current batch",
        "description": "Used to settle the current open batch.",
        "operationId": "settle",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Settle request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/settleRequest"
              },
              "examples": {
                "Settle": {
                  "summary": "An example of a settle request",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settleResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/settle-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "parameters": null,
      "post": {
        "summary": "Add a new profile",
        "description": "Used to create a profile",
        "operationId": "profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Profile add transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/profileAddRequest"
              },
              "examples": {
                "Profile Add": {
                  "summary": "An example of a profile add request",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001"
                    },
                    "order": {
                      "customerProfileOrderOverideInd": "NO",
                      "customerProfileFromOrderInd": "A",
                      "orderDefaultAmount": "1050"
                    },
                    "paymentInstrument": {
                      "customerAccountType": "CC",
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202206"
                      }
                    },
                    "profile": {
                      "customerName": "Customer Name",
                      "customerAddress1": "123 Main St",
                      "customerCity": "Tampa",
                      "customerState": "FL",
                      "customerZIP": "123456",
                      "customerEmail": "email@email.com",
                      "customerPhone": "1234561234",
                      "customerCountryCode": "US"
                    }
                  }
                },
                "Profile Add With Managed Billing": {
                  "summary": "An example of a profile add request with Managaed Billing",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001"
                    },
                    "order": {
                      "customerProfileOrderOverideInd": "NO",
                      "customerProfileFromOrderInd": "A",
                      "orderDefaultAmount": "1050"
                    },
                    "paymentInstrument": {
                      "customerAccountType": "CC",
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202206"
                      }
                    },
                    "profile": {
                      "customerName": "Customer Name",
                      "customerAddress1": "123 Main St",
                      "customerCity": "Tampa",
                      "customerState": "FL",
                      "customerZIP": "123456",
                      "customerEmail": "email@email.com",
                      "customerPhone": "1234561234",
                      "customerCountryCode": "US"
                    },
                    "managedBilling": {
                      "mbType": "R",
                      "mbOrderIdGenerationMethod": "IO",
                      "mbRecurringStartDate": "02122020",
                      "mbRecurringEndDate": "",
                      "mbRecurringNoEndDateFlag": "Y",
                      "mbRecurringMaxBillings": "",
                      "mbRecurringFrequency": "? */5 MON",
                      "mbDeferredBillDate": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/profileResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/profile-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an existing profile",
        "description": "Used to update a profile",
        "operationId": "profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Profile update transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/profileChangeRequest"
              },
              "examples": {
                "Profile Update": {
                  "summary": "An example of a profile update request",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "5454545454545454",
                        "ccExp": "202206"
                      }
                    },
                    "profile": {
                      "customerRefNum": "12345678",
                      "customerName": "Customer Name",
                      "customerAddress1": "123 Main St",
                      "status": "I"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/profileResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/profile-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a profile",
        "description": "Used to delete a profile",
        "operationId": "profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Profile delete transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/profileDeleteRequest"
              },
              "examples": {
                "Profile Delete": {
                  "summary": "An example of a profile delete request",
                  "value": {
                    "version": "4.7",
                    "merchant": {
                      "bin": "000001"
                    },
                    "profile": {
                      "customerRefNum": "12345678"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/profileResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/profile-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/profile/version/{version}/bin/{bin}/customerrefnum/{customerrefnum}": {
      "parameters": null,
      "get": {
        "summary": "Retrieve profile details",
        "description": "Used to retrieve a profile's information",
        "operationId": "profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          },
          {
            "name": "version",
            "description": "version",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "bin",
            "description": "bin",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "customerrefnum",
            "description": "Profile ID",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/profileResponse"
                },
                "examples": {
                  "$ref": "#/components/examples/profile-success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: SSL Connection Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed: Security Information is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "502": {
            "description": "Connection Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          },
          "503": {
            "description": "Server Unavailable: Please Try Again Later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/messages"
                }
              }
            }
          }
        }
      }
    },
    "/giftcard": {
      "parameters": null,
      "post": {
        "summary": "Giftcard actions (activate, add value, refund, balance inquiry)",
        "description": "Used to perform a gift card activation, authorization, deactivation, reactivation, add value, redemption, redemption completion, refund, reversal, refund, or balance inquiry transaction",
        "operationId": "giftcard",
        "parameters": [
          {
            "$ref": "#/components/parameters/orbitalConnectionUsername"
          },
          {
            "$ref": "#/components/parameters/orbitalConnectionPassword"
          },
          {
            "$ref": "#/components/parameters/merchantID"
          }
        ],
        "requestBody": {
          "description": "Gift card transaction information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/giftCardRequest"
              },
              "examples": {
                "Activation": {
                  "summary": "An example of a gift card activation transaction",
                  "value": {
                    "version": "4.7",
                    "flexAction": "activate",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    }
                  }
                },
                "Block Activate": {
                  "summary": "An example of a gift card block activation transaction.",
                  "value": {
                    "version": "4.7",
                    "flexAction": "blockactivate",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "startAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "amount": "100",
                      "industryType": "EC"
                    },
                    "additionalAuthInfo": {
                      "activationCount": "9"
                    }
                  }
                },
                "Deactivate": {
                  "summary": "An example of a gift card deactivation transaction.",
                  "value": {
                    "version": "4.7",
                    "flexAction": "deactivate",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "industryType": "EC"
                    }
                  }
                },
                "Reactivate": {
                  "summary": "An example of a gift card reactivation transaction.",
                  "value": {
                    "version": "4.7",
                    "flexAction": "reactivate",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "industryType": "EC",
                      "amount": "1000"
                    }
                  }
                },
                "Add Value": {
                  "summary": "An example of a gift card add value transaction.",
                  "value": {
                    "version": "4.7",
                    "flexAction": "addvalue",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "industryType": "EC",
                      "amount": "1000"
                    }
                  }
                },
                "Authorization": {
                  "summary": "An example of a gift card pre-authorization transaction.",
                  "value": {
                    "version": "4.7",
                    "flexAction": "auth",
                    "merchant": {
                      "bin": "000001",
                      "terminalID": "001"
                    },
                    "paymentInstrument": {
                      "card": {
                        "ccAccountNum": "603571000000000000"
                      }
                    },
                    "order": {
                      "orderID": "123456",
                      "industryType": "EC",
                      "amount": "1000"
                    }
                  }
[...]
